{% extends "base.html" %}

{% block content %}
<p>Данный проект создан в целях дополнительного анализа ежегодных
    результатов рейтинга технологий с сайта Stackoverflow.com  </p>
<p>Наш проект исследует отчеты с 2017 по 2022 год и представляет статистику по годам выбранной технологии.</p>
<p>Исследование проводится по следующим позициям:</p>
    <ul>
        <li>Самые популярные технологии;</li>
        <li>Самые любимые технологии (те, с которыми хотят продолжать работать разработчики);</li>
        <li>Самые разочаровавшие технологии (те, с которыми не хотят продолжать работать разработчики);</li>
        <li>Самые заинтересовавшие технологии (те, с которыми хотят начать работать разработчики);</li>
        <li>Самые высокооплачиваемые технологии;</li>
    </ul>

{% endblock %}