{% extends "base.html" %}

{% block content %}
<p>Для обычного поиска введите в поле нужную технологию: </p>
<img src="{{ url_for('static', filename='search.png') }}">
<p>Нажмите на кнопку поиска: </p>
<img src="{{ url_for('static', filename='button.png') }}">
<div class="container_row">
    <span class="lineshort"></span>
    <span>или</span>
    <span class="lineshort"></span>
</div>
<p>Для упрощенного поиска выберете из списка нужную технологию: </p>
<img src="{{ url_for('static', filename='choose_radio.png') }}">
<p>Затем, в выпадающем списке появятся подобранные технологии, выберете одну из них: </p>
<img src="{{ url_for('static', filename='choose_list.png') }}">
<p>Нажмите на кнопку поиска: </p>
<img src="{{ url_for('static', filename='button.png') }}">
<div class= "container_row">
    <span class="linelong"></span>
</div>
<p>Программа ищет только версии технологий, актуальных на период использования, имейте это в виду при поиске. </p>
<p>Если вы хотите узнать статистику по более ранней версии технологии, укажите старое название.</p>
<p>Актуальная версия:</p>
<img src="{{ url_for('static', filename='new_ver.png') }}">
<p>Неактуальная версия:</p>
<img src="{{ url_for('static', filename='old_ver.png') }}">
<p></p>
<p></p>
{% endblock %}